@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    background: url(./images/bg01.jpg);
    background-size: cover; 
}

.clock {
    color: #ffffff;
    font-size: 8rem; 
    text-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}

.name-form {
    position: absolute;
    bottom: 100px;
    width: 30%;
    transition: opacity 1s;
}

.name-input {
    all: unset;
    text-align: center; 

    width: 100%; 
    padding-bottom: 12px;
    border-bottom: solid 2px #fff; 

    color: #ffffff;
    font-size: 2rem;
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.name-input::placeholder {
    color: white;
    opacity: 0.6;
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.name {
    position: absolute;
    bottom: 100px;
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
    transition: opacity 1s;

    display: flex;
    align-items: center;
}

.delete-btn {
    all: unset;
    font-size: 16px;
    text-align: center;
    margin-left: 30px;
  
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.hide {
    opacity: 0; 
    z-index: -1;
}

.weather-wrapper {
    position: fixed;
    top: 12px;
    right: 12px;

    width: 60px;
    height: 60px;
    color: white;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-wrapper > p {
    font-weight: bold;
    font-size: 15px;
}

.focus-form {
    position: absolute;
    bottom: 30px;
    width: 30%;
    transition: opacity 1s;
}

.focus-input {
    all: unset;
    text-align: center; 

    width: 100%; 
    padding-bottom: 12px;
    border-bottom: solid 2px #fff; 

    color: #ffffff;
    font-size: 2rem;
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.focus-input::placeholder {
    color: white;
    opacity: 0.6;
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.focus-wrapper {
    position: absolute;
    bottom: 30px;
    transition: opacity 1s;
}

.focus-wrapper > span {
    font-weight: 100;
    color: #fff;
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.focus {
    line-height: 80%;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
    

    display: flex;
    align-items: center;
}

.delete-btn-f {
    all: unset;
    font-size: 16px;
    text-align: center;
    margin-left: 30px;
  
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.hide-f {
    opacity: 0;
    z-index: -1;
}

@media screen and (max-width: 415px) { /*모바일 사이즈*/
    html {
        font-size: 10px;
    }

    .clock {
        font-size: 6rem;
    }
}

@media screen and (max-width: 768px) { /*태블릿사이즈*/
    .name-form {
        width: 62%;
    }
    .focus-form{
        width: 62%;
    }
}